{{>header.inc }}
<h1 id="_top">{{title}}</h1>
{{^list_hide_content }}
	<section id="">
		{{{content}}}
	</section>
{{/list_hide_content}}

<!--cloud--><ul class="actions">{{#dynamic_list}}
<li><a href="#{{key}}" data-size="{{value.length}}">{{key}} ({{value.length}})</a></li>
{{/dynamic_list}}</ul>

{{#dynamic_list @auto_paginate }}
<section>
	<h2 id="{{key}}"><a href="#_top">{{key}}</a></h2>
	<div class="mini-posts">
		{{#value}}
		<!-- Mini Post -->
			<article class="mini-post">
				<header>
					<h3><a href="/{{uri}}">{{title}}</a></h3>
					<time class="published" datetime="{{date}}">{{date.formatted}}</time>
					<a href="{{author_url}}#{{author}}" class="author"><span class="name">{{author}}</span><img src="/images/{{author_image}}" alt="" /></a>
				</header>
				<a href="/{{uri}}" class="image"><img src="/images/{{image {image:'post.jpg'} }}" alt="" /></a>
			</article>{{/value}}
	</div>
</section>{{/dynamic_list}}
{{#paginated}}
	<ul class="pagination">
		{{#first}}<li><a href="/{{uri}}">&laquo;</a></li>{{else}}<li class="disabled"><a href="#">&laquo;</a></li>{{/first}}
		{{#prev}}<li><a href="/{{uri}}">&lsaquo;</a></li>{{else}}{{#paginate_nextprev}}<li class="disabled"><a href="#">&lsaquo;</a></li>{{/paginate_nextprev}}{{/prev}}
		{{#item}}
		<li {{#active}}class="active"{{/active}}><a href="/{{uri}}">{{page}}</a></li>{{/item}}
		{{#next}}<li><a href="/{{uri}}">&rsaquo;</a></li>{{else}}{{#paginate_nextprev}}<li class="disabled"><a href="#">&rsaquo;</a></li>{{/paginate_nextprev}}{{/next}}
		{{#last}}<li><a href="/{{uri}}">&raquo;</a></li>{{else}}<li class="disabled"><a href="#">&raquo;</a></li>{{/last}}
	</ul>
{{/paginated}}
{{> footer.inc }}