{{> header.inc }}

<article class="post">
	<header>
		<div class="title">
			<h2><a href="/{{uri}}">{{title}}</a></h2>
			<p>{{^subtitle}}{{metadesc}}{{/subtitle}}{{subtitle}}</p>
		</div>
		<div class="meta">
			<time class="published" datetime="{{date}}">{{date.formatted}}</time>
			<a href="{{author_url}}#{{author}}" class="author"><span class="name">{{author}}</span><img src="/images/{{author_image}}" alt="" /></a>
		</div>
	</header>
	<span class="image featured"><img src="/images/{{image {image:'post.jpg'} }}" alt="" /></span>
	{{{content}}}
	<footer>
		<ul class="stats">
			{{#categories}}<li>{{#. @split}}<a href="{{categories_url}}#{{.}}">{{.}}</a> {{/.}}</li>{{/categories}}
			{{#tags}}<li>{{#. @split}}<a href="{{tags_url}}#{{.}}">{{.}}</a> {{/.}}</li>{{/tags}}
			<!--<li><a href="#" class="icon fa-heart">28</a></li>
			<li><a href="#" class="icon fa-comment">128</a></li>-->
		</ul>
		
	</footer>
{{#social.disqus}}
<div id="disqus_thread"><a href="#" onclick="return disqus();" id="show_comments" class="button icon fa-comment">Show Comments</a> </div>
<script type="text/javascript">
	var disqus_loaded = false;
	var disqus_shortname = '{{{social.disqus}}}';
	var disqus_identifier = '{{{uri}}}';
	var disqus_url = '{{site_url}}{{uri}}';
	function disqus() {
		if (disqus_loaded) 
			return false;
		disqus_loaded = true;
		{{if  social.disqus == 'username' }}alert("You need to change the disqus username in config.ergo.js for this to work correctly. This message will be removed when completed"){{endif}}
		var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
		(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		return false;
	}
</script>
{{/social.disqus}}
</article>

{{> footer.inc }}